<section id="quemsomos" class="about">
  <main>
    <strong class="title">NOSSO CONSULTÓRIO</strong>
    <h1 class="subtitle">Quem somos</h1>
    <p>A DentalCare é a primeira empresa privada italiana de saúde a possuir 3 Certificações ISO em Qualidade, Ambiente e Segurança: a qualidade dos serviços oferecidos aos pacientes é certificada por entidades terceiras e a inovação e a formação desempenham um papel fundamental no desenvolvimento da profissão.</p>
    <article class="card-info">
      <img src="https://raw.githubusercontent.com/joaomni/cdn/main/horarios-atendimento.svg" alt="Horarios"/>
      <main>
        <h1>Horários completos para todos</h1>
        <p>Os Centros DentalPro estão abertos<br> continuamente das 9h às 20h.</p>
      </main>
    </article>
    <article class="card-info">
      <img src="https://raw.githubusercontent.com/joaomni/cdn/main/pagamento.svg" alt="Horarios"/>
      <main>
        <h1>Termos de pagamento</h1>
        <p>A DentalCare oferece um plano de pagamento personalizado. <br>A saúde do paciente deve ser sempre o nosso primeiro objetivo.</p>
      </main>
    </article>
  </main>
  
  <div class="image" style="background-position: right;"></div>
</section>