<section class="more">
  <h1 class="title">PROFISSIONAIS</h1>
  <p class="subtitle">Conheça nossos especialistas</p>

  <main>
    {% for expert in experts -%}
    <div class="more-card">
      <div class="more-img" style="background-image: url('{{ expert.image_url }}');"></div>
      <div class="more-title">
        <h1>{{ expert.title }}</h1>
        <p>{{ expert.subtitle }}</p>
      </div>
    </div>
    {%- endfor %}
  </main>
</section>