<section class="faq">
  <h1 class="title">FAQ</h1>
  <p class="subtitle">Você tem alguma pergunta?</p>
  <main>
    {% for faq in faqs -%}
    <article class="faq-box">
      <div>
        <h1>{{ faq.question }}</h1>
        <div class="faq-button open" data-target="box{{ faq.id }}" onclick="test(this)"></div>
      </div>
      <p class="invisible" id="box{{ faq.id }}">{{ faq.response }}</p>
    </article>
    {%- endfor %}
  </main>

  <a href="#cel" rel="canonical" class="button">Saiba mais</a>
</section>

<style>
  .faq {
    margin-top: 8em;
    text-align: center;
    display: grid;
    gap: 1.5em;
    font-size: 18px;
  }
  .faq main {
    display: grid;
    gap: 1.3em;
  }
  .faq-box {
    text-align: left;
    display: grid;
    gap: 1em;
    border-radius: 28px;
    border: 1px solid var(--blue-thin);
    background: #FFF;
    padding: 22px 68px;
  }
  .faq-box div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .faq-box h1 {
    color: var(--blue-strong);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .faq-button {
    width: 34px;
    height: 34px;
    cursor: pointer;
  }
  .close {
    background-image: url('https://raw.githubusercontent.com/joaomni/cdn/main/close-button.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .open {
    background-image: url('https://raw.githubusercontent.com/joaomni/cdn/main/open-button.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .visible {
    display: block;
  }
  .invisible {
    display: none;
  }
</style>