<section id="faq" class="faq">
  <h1 class="title">FAQ</h1>
  <p class="subtitle">Você tem alguma pergunta?</p>
  <main>
    {% for faq in faqs -%}
    <article class="faq-box">
      <details>
        <summary><p>{{ faq.question }}</p></summary>
        <p>{{ faq.response }}</p>
      </details>
    </article>
    {%- endfor %}
  </main>

  <a href="https://api.whatsapp.com/send?phone=5513991027026&text=Ol%C3%A1!" target="_blank" rel="canonical" class="button">Saiba mais</a>
</section>