<section class="home">
    <main>
        <h1 class="subtitle">Deixe seu
            <span>sorriso</span>
            ser a curva que endireita sua vida.</h1>
        <p class="text">Oferecemos serviços odontológicos de alta qualidade com a presença de especialistas em todo tipo de
            tratamento, satisfazendo as necessidades de cada paciente</p>
        <a href="#cel" rel="canonical" class="button">Agende agora</a>
        <footer class="infos">
            <div class="cel">
                <i>
                    <svg
                        version="1.1"
                        id="fi_94915"
                        fill="#01CFC9"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        x="0px"
                        y="0px"
                        viewBox="0 0 287.32 287.32"
                        xml:space="preserve">
                        <path d="M267.749,191.076c-14.595-11.729-27.983-17.431-40.93-17.431c-18.729,0-32.214,11.914-44.423,24.119
                            c-1.404,1.405-3.104,2.06-5.349,2.06c-10.288,0.001-28.387-12.883-53.794-38.293c-29.89-29.892-41.191-48.904-33.592-56.506
                            c20.6-20.593,27.031-41.237-4.509-80.462C73.861,10.51,62.814,3.68,51.38,3.68c-15.42,0-27.142,12.326-37.484,23.202
                            c-1.788,1.88-3.477,3.656-5.133,5.312c-11.689,11.688-11.683,37.182,0.017,68.2c12.837,34.033,38.183,71.055,71.37,104.247
                            c25.665,25.663,53.59,46.403,80.758,60.328c23.719,12.158,46.726,18.672,64.783,18.672c0.002,0,0.004,0,0.007,0
                            c11.3,0,20.479-2.465,26.541-7.478c12.314-10.181,35.234-29.039,35.081-51.439C287.236,212.71,280.653,201.451,267.749,191.076z"></path>
                    </svg>
                </i>
                <div>
                    <p>Numero telefone:
                    </p>
                    <p>(13) 99130-2859</p>
                </div>
            </div>
            <aside class="address">
                <i>
                    <svg height="512" viewBox="0 0 32 32" width="512" xmlns="http://www.w3.org/2000/svg" id="fi_3138736">
                        <g id="Pin-2" data-name="Pin">
                            <path d="m25.0464 8.4834a10 10 0 0 0 -7.9116-5.4258 11.3644 11.3644 0 0 0 -2.2691 0 10.0027 10.0027 0 0 0 -7.9121 5.4253
                                10.8062 10.8062 0 0 0 1.481 11.8936l6.7929 8.2588a1 1 0 0 0 1.545 0l6.7929-8.2588a10.8055 10.8055 0 0 0
                                1.481-11.8931zm-9.0464 8.5166a4 4 0 1 1 4-4 4.0047 4.0047 0 0 1 -4 4z"></path>
                        </g>
                    </svg>
                </i>
                <div>
                    <p>Rua Luigi Enaudi 56</p>
                    <p>Balneário Flórida</p>
                </div>
            </aside>
        </footer>
    </main>
    <div class="image"></div>
</section>