<section class="more">
  <h1 class="title">PROFISSIONAIS</h1>
  <p class="subtitle">Conheça nossos especialistas</p>

  <main>
    {% for more in mores -%}
    <div class="more-card">
      <div class="more-img" style="background-image: url('{{ more.image_url }}');"></div>
      <div class="more-title">
        <h1>{{ more.title }}</h1>
        <p>{{ more.subtitle }}</p>
      </div>
    </div>
    {%- endfor %}
  </main>
</section>

<style>
  .more {
    text-align: center;
    display: grid;
    gap: 2em;
  }
  .more main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 1em;
  }
  .more-card {
    width: 291px;
    height: 201px;
    border-radius: 44px;
    border: 1px solid var(--blue-thin);
    background: #FFF;
    text-align: center;
    position: relative;
    margin-top: 6em;
  }
  .more-card:hover {
    border: 1px solid transparent;
    color: white;
    background: linear-gradient(90deg, #0F2650 17.18%, rgba(15, 38, 80, 0.81) 85.05%);
  }
  .more-card:hover h1 {
    color: var(--blue-thin);
  }
  .more-title {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30%;
  }
  .more-card h1 {
    color: var(--blue-strong);;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .more-card p {
    font-size: 22px;
    font-style: normal;
    line-height: normal;
  }
  .more-img {
    width: 115px;
    height: 110px;
    position: absolute;
    bottom: 144px;
    left: 90px;
  }
</style>