<section class="more">
  <h1 class="title">PROFISSIONAIS</h1>
  <p class="subtitle">Conheça nossos especialistas</p>

  <main>
    {% for more in mores -%}
    <div class="more-card">
      <div class="more-img" style="background-image: url('{{ more.image_url }}');"></div>
      <div class="more-title">
        <h1>{{ more.title }}</h1>
        <p>{{ more.subtitle }}</p>
      </div>
    </div>
    {%- endfor %}
  </main>
</section>