<section class="services">
  <h1 class="section-title">NOSSOS SERVIÇOS</h1>
  <p class="section-text">Nossa lista de tratamentos</p>
  <main>
    <card-services 
      title="Prótese dentárias" 
      description="Tecnologia avançada com resultados surpreendentes" 
      link="https://raw.githubusercontent.com/joaomni/cdn/main/protese-dentaria.svg.svg"
    >
    </card-services>
    <card-services 
      title="Prótese dentárias" 
      description="Tecnologia avançada com resultados surpreendentes" 
      link="https://raw.githubusercontent.com/joaomni/cdn/main/protese-dentaria.svg.svg"
    >
    </card-services>
    <card-services 
      title="Prótese dentárias" 
      description="Tecnologia avançada com resultados surpreendentes" 
      link="https://raw.githubusercontent.com/joaomni/cdn/main/protese-dentaria.svg.svg"
    >
    </card-services>
    <card-services 
      title="Prótese dentárias" 
      description="Tecnologia avançada com resultados surpreendentes" 
      link="https://raw.githubusercontent.com/joaomni/cdn/main/protese-dentaria.svg.svg"
    >
    </card-services>
  </main>
  <a href="#cel" rel="canonical" class="button">Descubra mais</a>
</section>

<style>
  .services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    text-align: center;
    margin-top: 8em;
  }
  .services main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
  }
  .section-title {
    color: var(--blue-thin);
    font-size: 1.3em;
    font-weight: 800;
    line-height: 0;
  }
  .section-text {
    color: var(--blue-strong);
    font-size: 2.4em;
    font-weight: 800;
  }
</style>