<section class="services">
  <h1 class="title">NOSSOS SERVIÇOS</h1>
  <p class="subtitle">Nossa lista de tratamentos</p>
  <main>
    {% for service in services -%}
    <card-services 
      title="{{ service.title }}" 
      description="{{ service.description }}" 
      link="{{ service.image_url }}"
      style="display: flex; justify-content: center;"
    >
    </card-services>
    {%- endfor %}
  </main>
  <a href="#cel" rel="canonical" class="button">Descubra mais</a>
</section>