<section class="services">
  <h1 class="section-title">NOSSOS SERVIÇOS</h1>
  <p class="section-text">Nossa lista de tratamentos</p>
  <main>
    {% for service in services %}
    <card-services 
      title="{{ service.title }}" 
      description="{{ service.description }}" 
      link="{{ service.image_url }}"
      style="display: flex; justify-content: center;"
    >
    </card-services>
    {% endfor %}
  </main>
  <a href="#cel" rel="canonical" class="button">Descubra mais</a>
</section>

<style>
  .services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    text-align: center;
    margin-top: 8em;
  }
  .services main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    width: 100%;
  }
  .section-title {
    color: var(--blue-thin);
    font-size: 1.3em;
    font-weight: 800;
    line-height: 0;
  }
  .section-text {
    color: var(--blue-strong);
    font-size: 2.4em;
    font-weight: 800;
  }
</style>