:root {
    --blue-thin: #01cfc9;
    --blue-strong: #0f2650;
}

* {
    margin: 0;
    padding: 0;
    line-height: 1;
    list-style-type: none;
    text-decoration: none;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    max-width: 100%;
    overflow-wrap: break-word;
}

body {
    background-color: #eefbfa;
    color: rgba(0, 0, 0, 0.74);
    font-weight: 500;
}

html {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

.title {
    color: var(--blue-thin);
    font-size: 1.3em;
    font-weight: 800;
    line-height: 0;
}

.subtitle {
    font-size: 2.5em;
    font-weight: 900;
    color: var(--blue-strong);
}

/* NAVBAR */
header {
    margin-top: 2.5em;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.5em;
    cursor: pointer;
}

.logo p {
    font-weight: 900;
    font-size: 2em;
    color: var(--blue-strong);
}

.logo span {
    color: var(--blue-thin);
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3em;
}

a {
    color: #000;
    font-weight: 500;
}

.button {
    color: var(--blue-thin);
    background: rgb(15, 38, 80);
    background: linear-gradient(90deg,
            rgba(15, 38, 80, 1) 0%,
            rgba(15, 38, 80, 0.83) 100%);
    padding: 10px 22px;
    border-radius: 10px;
}

/* NAVBAR */
/* HOME */
.home {
    display: flex;
    margin-top: 2em;
    justify-content: flex-start;
    align-items: stretch;
}

.home main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 1em;
    width: 50%;
}

.home main span {
    color: var(--blue-thin);
}

.text {
    margin-top: 2em;
}

.home main a {
    width: fit-content;
    padding: 10px 40px;
    margin-top: 2em;
}

.home i {
    background: var(--blue-strong);
    padding: 8px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.home svg {
    width: 25px;
    height: 25px;
}

.image {
    background-image: url('https://raw.githubusercontent.com/joaomni/cdn/main/foto_site_dentista.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 50%;
}

.infos {
    display: flex;
    font-size: 14px;
    color: var(--blue-strong);
    font-weight: 500;
    margin-top: 3em;
}

.cel {
    display: flex;
    gap: 1em;
    margin-right: 6em;
}

.address {
    display: flex;
    gap: 1em;
}

.address svg {
    fill: var(--blue-thin);
}

/* HOME */
/* SERVIÇOS */
.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    text-align: center;
    margin-top: 8em;
}

.services main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    width: 100%;
}

/* SERVIÇOS */
/* SOBRE */
.about {
    margin-top: 8em;
    display: flex;
}

.about main {
    font-size: 18px;
    display: grid;
    gap: 1.4em;
    width: 50%;
}

.card-info {
    display: flex;
    align-items: center;
    gap: 1.8em;
}

.card-info main {
    display: grid;
    align-items: center;
    height: min-content;
    gap: 0.3em;
    width: max-content;
}

.card-info h1 {
    color: var(--blue-strong);
    font-weight: 600;
}

.card-info p {
    font-size: 15px;
}

/* SOBRE */
/* MAIS... */
.more {
    text-align: center;
    display: grid;
    gap: 2em;
}

.more main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 1em;
}

.more-card {
    width: 291px;
    height: 201px;
    border-radius: 44px;
    border: 1px solid var(--blue-thin);
    background: #fff;
    text-align: center;
    position: relative;
    margin-top: 6em;
}

.more-card:hover {
    border: 1px solid transparent;
    color: white;
    background: linear-gradient(90deg,
            #0f2650 17.18%,
            rgba(15, 38, 80, 0.81) 85.05%);
}

.more-card:hover h1 {
    color: var(--blue-thin);
}

.more-title {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30%;
}

.more-card h1 {
    color: var(--blue-strong);
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.more-card p {
    font-size: 22px;
    font-style: normal;
    line-height: normal;
}

.more-img {
    width: 115px;
    height: 110px;
    position: absolute;
    bottom: 144px;
    left: 90px;
}

/* MAIS... */
/* CARDS EMPRESA */
.c-count-card {
    margin: 10em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
    width: 100%;
    flex-wrap: wrap;
}

.count-card {
    border: 2.2px solid var(--blue-thin);
    background: #ffffff;
    border-radius: 16px;
    text-align: center;
    width: 193px;
    height: 99px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.count-card h1 {
    color: var(--blue-strong);
    font-size: 40px;
    font-weight: 600;
    word-wrap: break-word;
}

/* CARDS EMPRESA */
/* FAQ */
.faq {
    margin-top: 8em;
    text-align: center;
    display: grid;
    gap: 1.5em;
    font-size: 18px;
}

.faq main {
    display: grid;
    gap: 1.3em;
}

details {
    border-radius: 28px;
    border: 1px solid var(--blue-thin);
    background: #fff;
    padding: 22px 68px;
    text-align: left;
}

summary {
    list-style-type: none;
    color: var(--blue-strong);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

summary::-webkit-details-marker {
    display: none;
    /* Chrome */
}

summary::before {
    content: '';
    width: 34px;
    height: 34px;
    background-image: url('https://raw.githubusercontent.com/joaomni/cdn/main/open-button.svg');
    background-size: cover;
    order: 2;
}

details[open] summary::before {
    background-image: url('https://raw.githubusercontent.com/joaomni/cdn/main/close-button.svg');
    /* Imagem quando aberto */
}

/* FAQ */
/* STATEMENT */
.statement {
    text-align: center;
    display: grid;
    gap: 2em;
    margin-top: 8em;
}

.statement main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 1em;
}
.statement-card {
    width: 385px;
    height: 224px;
    border-radius: 44px;
    border: 1px solid var(--blue-thin);
    background: #fff;
    text-align: center;
    margin-top: 6em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
}
.statement-card h1 {
    color: var(--blue-strong);
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.statement-card p {
    font-size: 15px;
    font-style: normal;
    line-height: normal;
}

.statement-img {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.star-box {
    display: flex;
    justify-content: center;
    gap: 1em;
}
.full-star {
    background-image: url('https://raw.githubusercontent.com/joaomni/cdn/main/full-star.svg');
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
/* STATEMENT */
/* FOOTER */
.contact {
    background-color: #bef2f0;
}
.c-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1280px;
    margin: 8em auto 0px auto;
    padding: 4em 20px;
}
.footer-logo {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.footer-logo p {
    font-weight: 900;
    font-size: 2em;
    color: var(--blue-strong);
}

.footer-logo span {
    color: var(--blue-thin);
}
.contact-box {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-items: end;
    justify-items: end;
    margin-top: 2em;
}
.info {
    font-size: 18px;
    color: #313f3e;
    display: flex;
    gap: 10px;
    align-items: center;
}
.contact-infos {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.social {
    display: flex;
    gap: 1em;
    cursor: pointer;
}
/* FOOTER */
/* WHATSAPP */
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:15px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}
/* WHATSAPP */
/* RESPONSIVIDADE */
@media only screen and (max-width: 1100px) {
    #whatsapp {
        display: none;
    }

    .logo p {
        font-size: 1em !important;
    }

    .logo svg {
        width: 20px;
        height: 20px;
    }

    .home {
        flex-direction: column;
    }

    .home main {
        width: auto !important;
    }

    .services main {
        justify-content: center !important;
        flex-wrap: wrap;
    }

    .about {
        flex-direction: column;
    }

    .about main {
        width: auto !important;
    }

    /* FAQ */
    summary {
        font-size: 20px !important;
    }

    /* PROFISSIONAIS */
    .more main {
        justify-content: center;
    }
    /* DEPOIMENTOS */
    .statement main {
        justify-content: center;
    }
    /* DEPOIMENTOS */
    .statement-card {
        margin-top: 1em;
    }
}

@media only screen and (max-width: 800px) {
    .logo {
        display: none !important;
    }

    .card-info {
        flex-direction: column;
        align-items: baseline !important;
        gap: 0.6em !important;
    }

    .more main {
        justify-content: center !important;
    }

    /* FAQ */
    details {
        padding: 22px 22px !important;
    }

    summary {
        font-size: 20px !important;
    }
    summary p {
        width: 84%;
    }
    /* WHATSAPP */
    .float{
        bottom:15px;
        right:15px;
    }
}

@media only screen and (max-width: 600px) {
    header {
        margin-top: 1em;
    }

    ul {
        flex-direction: column;
        gap: 0 !important;
    }

    .home {
        margin-top: 0 !important;
    }

    .infos {
        flex-direction: column;
        gap: 1em;
    }

    /* FAQ */
    details {
        padding: 22px 22px !important;
    }

    summary {
        font-size: 14px !important;
    }
    /* DEPOIMENTOS */
    .statement-card {
        width: auto;
        padding: 0px 4px;
        height: 244px;
    }

    /* FOOTER */
    .contact-box {
        grid-auto-flow: row;
        justify-items: flex-start;
        row-gap: 2em;
    }
}