:root {
    --blue-thin: #01CFC9;
    --blue-strong: #0F2650;
}

* {
    margin: 0;
    padding: 0;
    line-height: 1;
    list-style-type: none;
    text-decoration: none;
    border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    max-width: 100%;
    overflow-wrap: break-word;
}

body {
    background-color: #EEFBFA;
    width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
    color: rgba(0, 0, 0, 0.74);
    font-weight: 500;
}

html {
    font-family: 'Poppins', sans-serif;
}

.title {
    color: var(--blue-thin);
    font-size: 1.3em;
    font-weight: 800;
    line-height: 0;
}
.subtitle {
    font-size: 2.5em;
    font-weight: 900;
    color: var(--blue-strong);
}

/* HOME */
.home {
    display: flex;
    margin-top: 2em;
    justify-content: flex-start;
    align-items: stretch;
}
.home main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 1em;
    width: 50%;
}
.home main span {
    color: var(--blue-thin);
}
.text {
    margin-top: 2em;
}
.home main a {
    width: fit-content;
    padding: 10px 40px;
    margin-top: 2em;
}
.home i {
    background: var(--blue-strong);
    padding: 8px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.home svg {
    width: 25px;
    height: 25px;
}
.image {
    background-image: url("https://raw.githubusercontent.com/joaomni/cdn/main/foto_site_dentista.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 50%;
}
.infos {
    display: flex;
    font-size: 14px;
    color: var(--blue-strong);
    font-weight: 500;
    margin-top: 3em;
}
.cel {
    display: flex;
    gap: 1em;
    margin-right: 6em;
}
.address {
    display: flex;
    gap: 1em;
}
.address svg {
    fill: var(--blue-thin);
}
/* HOME */
/* CARDS EMPRESA */
.c-count-card {
    margin: 10em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
    width: 100%;
    flex-wrap: wrap;
}
.count-card {
    border: 2.2px solid var(--blue-thin);
    background: #ffffff;
    border-radius: 16px;
    text-align: center;
    width: 193px;
    height: 99px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.count-card h1 {
    color: var(--blue-strong);
    font-size: 40px;
    font-weight: 600;
    word-wrap: break-word;
}
/* CARDS EMPRESA */
@media only screen and (max-width: 1100px) {
    #whatsapp {
        display: none;
    }
    .logo p {
        font-size: 1em !important;
    }
    .logo svg {
        width: 20px;
        height: 20px;
    }
    .home {
        flex-direction: column;
    }
    .home main {
        width: auto !important;
    }
    .services main {
        justify-content: center !important;
        flex-wrap: wrap;
    }
    .about {
        flex-direction: column;
    }
    .about main {
        width: auto !important;
    }
}

@media only screen and (max-width: 800px) {
    .logo {
        display: none !important;
    }
    .card-info {
        flex-direction: column;
        align-items: baseline !important;
        gap: 0.6em !important;
    }
    .more main {
        justify-content: center !important;
    }
}

@media only screen and (max-width: 600px) {
    header {
        margin-top: 1em;
    }
    ul {
        flex-direction: column;
        gap: 0 !important;
    }
    .home {
        margin-top: 0 !important;
    }
    .infos {
        flex-direction: column;
        gap: 1em;
    }
}